@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #b0bbfa;
    background-image: linear-gradient(90deg, #a0bbfa 5%, #f2a3f5 30%, #f1d42d 70%, #9ae060 100%);
    background-size: cover;
    background-position: center;
}

.frame{
  width: 100%;
  padding: 2vw 10vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame h1 {
  font-weight: 600;
  margin-bottom: 4vw
}

.card {
  width: 26vw;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.6vw rgba(0, 0, 0, .5);
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.form-box {
  width: 100%;
  padding: 3vw
}


.form-box h2 {
  font-size: 2.5vw;
  color: white;
  text-align: center;
}

.form-box h3 {
  font-size: 1.3vw;
  color: white;
  text-align: center;
  font-weight: 300;
  padding-top: 1vw;
}

.input-box {
  position: relative;
  width: 100%;
  height: 2.5vw;
  border-bottom: 0.15vw solid #fff;
  margin: 3vw 0;

}

.input-box label {
  position: absolute;
  top: 1vw;
  left: 0.1vw;
  transform: translateY(-50%);
  font-size: 0.9vw;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  padding-bottom: 2.5vw;
}

.input-box input {
  color: rgb(187, 195, 235);
  margin: 0.2vw 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.9vw;
  font-weight: 600;
 
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2vw;
  color: white;
  line-height: 2.5vw;
}

.btn {
  display: inline-block;
  background: transparent;
  margin: 2vw 0 3vw 0;
  width: 100%;
  height: 2.5vw;
  color: #ffffff;
  border-radius: 0.9vw;
  border: 0.1vw solid white;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in;
  z-index: 2;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #162938;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.login-register {
  display: flex;
  font-size: 0.8vw;
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 0vw;
  padding-top: 0vw;
}

.login-register * {
  margin: 0.5vw;
}

.login-register a {
  color: #484eff;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}

.problem {
  display: flex;
  font-size: 0.8vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  color: #ff2a00;
  text-align: center;
  font-weight: 400;
  margin: 0 0 1.5vw 0;
  padding: 0.2vw 0.5vw;
  max-width: 17vw;
}

/* ------------------------------------------------------------homePage------------------------------------------------------------ */

.cards-element {
  margin: auto;
  width: 50vw;
  height: 25vw;
  cursor: pointer;
}

.home-card {
  width: 50vw;
  height: 40vw;
  border-radius: 7vw 7vw 2vw 2vw;
  box-shadow: 0 0 0.6vw rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0vw;
  background-size: cover;
  background-position: center;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.home-card-text{
  height: 13vw;
  width: 100%;
  padding: 1vw 1vw 5vw 1.5vw;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
}

.home-card p {
  margin-bottom: 0.5vw;
}

/* ------------------------------------------------------------navbar------------------------------------------------------------ */

.navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  margin: 1vw 4vw;
}

.navbar-logo {
    width: auto;
    height: 5vw;
}

.navigation-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-btn {
  background: transparent;
  margin: 0 1vw;
  padding: 0 1vw 0 1vw;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.9vw;
  border: 0.1vw solid white;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in;
  z-index: 2;
  cursor: pointer;
}

.navbar-btn i{
  margin: 0 0.5vw;
}

.navbar-btn:hover {
  background: #fff;
  color: #162938;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.undo-swipe {
  background-color: rgba(0, 0, 0, .1);
  margin: 0 1vw;
  padding: 0 1vw 0 1vw;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  font-weight: 600;
  color: rgb(236, 85, 29);
  border-radius: 0.9vw;
  border: 0.1vw solid rgb(236, 85, 29);
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in;
  z-index: 2;
  cursor: pointer;
}

.undo-swipe i{
  margin: 0 0.5vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.undo-swipe:hover {
  background: #fff;
  color: #162938;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.userCardPage {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.navbar-card{
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
}

.user-box {
    width: 100%;
    padding: 3vw;
    color: white;
}

.user-box h3{
  margin: 2vw 0 4vw 0;
}

.user-box h4{
  margin: 2vw 0 0.5vw 0;
}

.user-box p{
  margin: 0;
  font-size: 1vw;
}

.user-box div p{
  margin: 0;
  font-size: 1vw;
}

.navbar-location-btn{
  background: transparent;
  margin: 0 1vw;
  padding: 0 1vw 0 1vw;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.9vw;
  border: 0.1vw solid white;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in;
  z-index: 2;
  cursor: pointer;
}

.navbar-location-btn:hover{
  background: #fff;
  color: #162938;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.navbar-autoCompleteComponent {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.navbar-autoCompleteComponent div div{
  margin: 0;
  padding: 0;
}

.navbar-autoCompleteComponent input {
  color: #78d;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1vw;
  font-weight: 400;
  border-bottom: 0.15vw solid #fff;
}

.navbar-autoCompleteComponent div span {
  right: 8px;
  font-size: 1.2vw;
  color: white;
  line-height: 2.5vw;
}

.close {
  margin: -1vw -1vw 0 0;
  padding: 0;
  background: transparent;
  width: 2vw;
  height: 2vw;
  color: white;
  border-radius: 0.9vw;
  border: 1vw solid white;
  transition: all 0.15s ease-in;
  z-index: 3;
  cursor: pointer;
}

.close:hover {
  background: #fff;
  color: #162938;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.logout {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vw 0 0 0;
  padding: 0 1vw 0 1vw;
  width: fit-content;
  height: 2.5vw;
  font-weight: 600;
  color: red;
  border-radius: 0.9vw;
  border: 0.1vw solid white;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in;
  z-index: 2;
  cursor: pointer;
}

.logout:hover {
  background: red;
  color: white;
  box-shadow: 0.1vw 0.15vw 0.25vw -0.1vw rgba(0, 0, 0, .5);
}

.logout i{
  margin-right: 0.4vw;
  font-size: 1vw;
}

/* ------------------------------------------------------------favorites------------------------------------------------------------ */

.favorites-list {
  list-style: none;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
  padding: 0;
  border-radius: 1.5vw 5vw 5vw 1.5vw;
  background: rgba(0, 0, 0, 0.3);
}

.favorite-image {
  height: 20vw;
  width: 30vw;
  background-size: cover;
  background-position: center;
  border-radius: 1.5vw 0.2vw 0.2vw 1.5vw
}

.favorite-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vw;
  width: 45vw;
  color: white;
  padding: 2vw 2vw 0 2vw;
}

.favorite-super-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.favorite-super-text h2{
  margin-bottom: 1vw;
}

.favorite-super-text h5{
  margin-top: 2vw;
}

.favorite-sub-text {
  height: fit-content;
  width: 100%;
}

.favorite-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vw;
  width: 10vw;
}

.add-to-calendar, .delete-button {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vw;
  width: 10vw;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  transition: all 0.15s ease-in;
}

.delete-button {
  background-color: #dc3545;
  border-radius: 0vw 5vw 0vw 5vw;
}

.add-to-calendar {
  background-color: #007bff;
  border-radius: 5vw 0vw 5vw 0vw;
}

.delete-button:hover {
  border-radius: 5vw;
}

.add-to-calendar:hover{
  border-radius: 5vw;
  color: white;
}

/* ------------------------------------------------------------login------------------------------------------------------------ */

.login-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;

}

.login-container img{
  width: 25vw;
  margin: 0;
  padding: 0;
}

.main-text h1{
  color: #fff;
  margin: 0;
  padding: 0;

  font-size: 1.7vw;
  margin-top: 3.5vw;
  max-width: 45vw;
  font-weight: 500;
}

.main-text p{
  color: #fff;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
  margin-top: 1vw;
  font-weight: 500;
}

/* ------------------------------------------------------------register------------------------------------------------------------ */

.autoCompleteComponent input{
  margin: 0.9vw 0;
}
